@font-face {
    font-family: "Simplifica";
    src: url('../font/simplifica.ttf');
}

$family-primary:'Quicksand', sans-serif;
$neon-blue:#5ad6eb;
$size-primary: 18px;
$size-secondary: 25px;

body {
    color: $neon-blue;
    background-image:url("../images/style/oceanfloor.jpg");
    margin:0;
    padding:0;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

nav { 
    background: rgba(0, 0, 0, .7);
    float: right;
    width: 13%;
    height:100vh;
    font-size: $size-secondary;
    font-family: $family-primary;
    color:transparent;

    li {
        list-style-type: none;
        line-height:70px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        display:block;
        background-image:url("../images/style/oceanfloor.jpg");
    }
}

a {
    text-decoration: none;
}

/*=============================================================*\ 
	INDEX.HTML / INDEX.HTML / INDEX.HTML / INDEX.HTML 
-------------------------------------------------------------- 
	 
\*=============================================================*/ 



.presentation {
  float: right;
  padding-right: 15vw;
  padding-top: 10vh;

  h1 {
    margin-bottom: 0px;
    font-family:'Simplifica', sans-serif;
    font-size: 5em;
  }

  h2 {
    margin-top: 0px;
    font-family: $family-primary;
    font-size: 1.5em;
  }
}

/*=============================================================*\ 
	GALERIE.HTML / GALERIE.HTML / GALERIE.HTML / GALERIE.HTML 
-------------------------------------------------------------- 
	 
\*=============================================================*/ 

.content {
  float:left;
  width:87%;
  height:100vh;
  background: rgba(0, 0, 0, .5);
}

.galerie {
  margin: 5vh auto 0;
  max-width: 632px;

  h1 {
    color: #FFF;
    font-size: $size-secondary;
    font-family: $family-primary;
    text-align: center;
  }
}


/*==============================*\ 
	GALERIE -- Miniatures 
\*==============================*/ 

.galerie--min {

  ul {
    margin-top: 10vh;
  }

  li {
    padding: 2px;
    display: inline-block;
    height: 75px;
    width: 75px;

    /*:after {
      content:'\A';
      position:absolute;
      width:75px; height:75px;
      margin: 2px;
      background:rgba(0,0,0,0.6);
      opacity:1;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }
  
    :hover:after {
      opacity:0;
    }*/
  }

  img {
    width: 100%;
    height: auto; 
  }
}
