@font-face {
  font-family: "Simplifica";
  src: url("../font/simplifica.ttf"); }
body {
  color: #5ad6eb;
  background-image: url("../images/style/oceanfloor.jpg");
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover; }

nav {
  background: rgba(0, 0, 0, 0.7);
  float: right;
  width: 13%;
  height: 100vh;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  color: transparent; }
  nav li {
    list-style-type: none;
    line-height: 70px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    background-image: url("../images/style/oceanfloor.jpg"); }

a {
  text-decoration: none; }

/*=============================================================*\ 
	INDEX.HTML / INDEX.HTML / INDEX.HTML / INDEX.HTML 
-------------------------------------------------------------- 
	 
\*=============================================================*/
.presentation {
  float: right;
  padding-right: 15vw;
  padding-top: 10vh; }
  .presentation h1 {
    margin-bottom: 0px;
    font-family: 'Simplifica', sans-serif;
    font-size: 5em; }
  .presentation h2 {
    margin-top: 0px;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em; }

/*=============================================================*\ 
	GALERIE.HTML / GALERIE.HTML / GALERIE.HTML / GALERIE.HTML 
-------------------------------------------------------------- 
	 
\*=============================================================*/
.content {
  float: left;
  width: 87%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); }

/*==============================*\ 
	GALERIE -- Miniatures 
\*==============================*/
.galerie--line {
  height: 100px;
  margin-bottom: 43px; }

.galerie--line:nth-child(even) {
  float: right; }

.galerie {
  margin: 140px auto 0;
  font-size: 0;
  max-width: 632px; }

.wrap {
  transform: rotate(45deg) translate3d(0, 0, 0);
  display: inline-block;
  transition: transform 300ms ease-out;
  width: 100px; }
  .wrap:hover {
    transition: transform 700ms ease-out;
    transform: rotate(45deg) translate3d(10px, 10px, 0); }
  .wrap:nth-child(even) {
    width: 40px;
    transform: rotate(225deg) translate3d(30px, 120px, 0); }
    .wrap:nth-child(even) .crop img {
      transform: skew(-20deg, -20deg) rotate(-225deg); }
    .wrap:nth-child(even):hover {
      transform: rotate(225deg) translate3d(40px, 130px, 0); }

.crop {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0;
  display: block;
  overflow: hidden;
  transform: skew(20deg, 20deg) translate3d(0, 0, 0); }
  .crop img {
    width: 160px;
    height: 160px;
    position: absolute;
    left: -50%;
    margin-top: 36px;
    margin-left: 36px;
    top: -50%;
    transform: skew(-20deg, -20deg) rotate(-45deg);
    opacity: 0.7;
    transition: opacity 300ms ease-in-out; }
    .crop img:hover {
      opacity: 1; }

.coffre {
  width: 70em;
  height: 30em;
  margin-top: 3em;
  margin-left: 5em; }

.cote_vignettes {
  width: 15em;
  height: 30em;
  padding-left: 10em;
  float: left; }

.cote_image {
  width: 90vw;
  margin: 0 auto; }

/*.arrow a{
	    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    
    color: #FFF;
}*/
.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10; }

.arrow {
  float: right;
  padding-right: 5vw;
  position: absolute; }

ul#galerie_mini {
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul#galerie_mini li {
  float: left; }

ul#galerie_mini li a img {
  margin: 1px;
  border: 1px solid #000000; }

#photo {
  height: 28em;
  width: 40em;
  margin: auto; }

dl#photo dt {
  width: 40em;
  margin: auto; }

dl#photo dt {
  font-size: 10pt;
  font-family: arial;
  color: #ffffff; }

/*dl#photo dd 
{ 
  margin:0px;
	max-height:28em;
} */
dl#photo img {
  border: 0px;
  max-height: 28em;
  max-width: 45em; }

.arrow {
  height: 2em;
  width: 45em;
  bottom: 4em;
  position: fixed;
  margin: auto; }

.img-container img {
  display: block;
  margin: auto; }

/*# sourceMappingURL=style.css.map */
